*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    width: 1440px;
    height: 100px;
    padding: 0 50px;
    background: linear-gradient(to bottom, #CFD8DC, #FFE0B2);
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 50px;
}
nav .nav-menu{
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.nav-menu .nav-item{
    padding: 5px;
}
.nav-menu .nav-item .nav-link{
    text-decoration: none;
    color: black;
}
.menu-anm{
    animation-delay: 0.1s;
    animation-name: textmenu;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease;
}

@keyframes textmenu{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.home{
    width: 1440px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background: linear-gradient(to bottom, #FFE0B2, #CFD8DC);
}

.home img{
    width: 300px;
}
.home h1{
    text-align: center;
    font-size: 40px;
    font-weight: 200;
}

.count{
    width: 1440px;
    height: 700px;
    background: radial-gradient(circle, #FFE0B2, #CFD8DC, #CFD8DC);
    display: flex;
    justify-content: center;
    align-items: center;
}
.count .card{
    width: 900px;
    height: 400px;
    border-radius: 15px;
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.644), inset -5px -5px 10px rgba(255, 255, 255, 0.582);
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}
.count .card img{
    width: 350px;
    position: absolute;
    top: -100px;
}
.count .card .text{
    width: 400px;
    height: 100%;
    
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card .text #count{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 100px;
}
.card .text #count button{
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    background: lightgreen;
}
.card .text .olish{
    font-size: 25px;
    background-color: rgb(55, 230, 55);
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
}
.card .text #narx{
    font-size: 35px;
}

.slider{
    width: 1440px;
    height: 700px;
    background: linear-gradient(to bottom, #CFD8DC, transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider > img{
    width: 20px;
}
.slider .left{
    transform: rotate(180deg);
}
.slide{
    width: 600px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 10px #fff, 0 2px 10px gray;
}
.slide .imgs{
    width: 300%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    transition: all 0.2s;
}
.slide .imgs .slide1{
    width: 280px;   
}
.slide .imgs .slide2{
    width: 400px;   
}
.slide .box{
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.slide .box .circle{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.562);
}

